body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
}

#game-board{
    background-color: green;
    width: 75vmin;
    height: 75vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    border: 5px solid black;
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}

.food {
    background-image: url("../image/mela.png");
    background-repeat: no-repeat;
    border-radius: 100%;
}

.score {
    color: black;
}